// delete button
.delete {
	height: 30px;
	border: none;
	background: transparent;
	color: $red;
	font-size: 2.5rem;
	cursor: pointer;
	padding-left: 10px;
	position: relative;
	bottom: 20px;
	transform: all 0.5s ease;

	&:hover {
		transform: scale(1.1);
	}
}

// save button
.save {
	cursor: pointer;
	align-self: center;
	margin-top: 20px;
	border: none;
	background-color: $yellow;
	font-weight: 600;
	border-radius: 10px;
	height: 30px;
	width: 80px;
	font-size: 2rem;
	padding: 5px;
	color: white;
	box-shadow: 8px -5px 29px -5px rgba(244, 214, 14, 0.75);
	-webkit-box-shadow: 8px -5px 29px -5px rgba(244, 214, 14, 0.75);
	-moz-box-shadow: 8px -5px 29px -5px rgba(244, 214, 14, 0.75);
	transition: all 0.8s ease;

	&:hover {
		transform: translateY(-4px);
		box-shadow: 8px -5px 29px -11px rgba(244, 214, 14, 0.75);
		-webkit-box-shadow: 8px -5px 29px -11px rgba(244, 214, 14, 0.75);
		-moz-box-shadow: 8px -5px 29px -11px rgba(244, 214, 14, 0.75);
	}

	&:active {
		transform: translateY(-4px);
		box-shadow: 8px -5px 29px -11px rgba(244, 214, 14, 0.75);
		-webkit-box-shadow: 8px -5px 29px -11px rgba(244, 214, 14, 0.75);
		-moz-box-shadow: 8px -5px 29px -11px rgba(244, 214, 14, 0.75);
	}
}

// green "read" button, to display the note
.display {
	cursor: pointer;
	align-self: center;
	border: none;
	background-color: $green;
	font-weight: 900;
	height: 17px;
	width: 17px;
	font-size: 1.5rem;
	color: white;
	margin-left: 10px;
	border-radius: 50%;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	bottom: 22px;

	&:hover {
		background-color: $green;

		border-radius: 10px;
		height: 17px;
		width: 50px;
	}

	p {
		margin: 0;
		height: 17px;
		width: 50px;
		transition: opacity 0.2s ease;
		transition: transform 0.6s ease;
		transform: translateX(10px);
		opacity: 0;

		&:hover {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

// parent container for save and clear buttons
.saveClearContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 7px;
}

// clear button
.clear {
	background-color: $ghost;
	color: $yellow;
	box-shadow: none;
	margin-left: 10px;
}
