.listContainer {
	margin-top: 10px;
	height: 200px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thick;
	scrollbar-color: $lightGray transparent;
	z-index: 20;
}

.listOfNotesHeader {
	width: 100%;
	margin-top: 20px;
	color: white;
	font-weight: 800;
	z-index: 20;
	text-align: center;
	border-bottom: 1px solid $yellow;
}

.listOfNotes {
 width: 95%;
 

	h3 {
		padding-bottom: 6px;
		text-transform: capitalize;
	}

	li {
		list-style-type: none;
		padding: 0 0 10px 0;
		color: white;
	}

	p {
		height: 48px;
		overflow: hidden;
	}
}

.delete {
	height: 30px;
	border:none;
	background: transparent;
	color: tomato;
	font-size: 2.5rem;
	cursor: pointer;
	padding-left: 10px;
	position: relative;
	bottom: 15px;
	transform: all .5s ease;

	&:hover {
		transform: scale(1.1);
	}
	}

	.paragraphAndDeleteContainer {
		display: flex;
		justify-content: space-between;
	}
	
	.noteIcon {
		font-size: 2.6rem;
		padding-left: 5px;
		color: $yellow;
	}