.listContainer {
	margin-top: 10px;
	height: 200px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thick;
	scrollbar-color: $lightGray transparent;
	z-index: 20;
}

.listContainer::-webkit-scrollbar-track {
	background-color: transparent;
}

.listContainer::-webkit-scrollbar-thumb {
	background: $lightGray;
}

.listOfNotesHeader {
	width: 100%;
	margin-top: 20px;
	color: white;
	font-weight: 800;
	z-index: 20;
	text-align: center;
	border-bottom: 2px solid $yellow;
	// font-family: 'IBM Plex Mono', sans-serif;

}

.listOfNotes {
 width: 95%;

	h3 {
		text-transform: capitalize;
	}

	li {
		list-style-type: none;
		padding: 0 0 10px 0;
		color: white;
	}

	p {
		height: 48px;
		overflow: hidden;
	}
}

	.paragraphAndDeleteContainer {
		display: flex;
		justify-content: space-between;
	}
	


	.titleAndDisplay {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		
	}