form {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 10;
}

textarea {
	z-index: 10;
	height: 30vh;
	min-height: 250px;
	overflow-y: scroll;
	border: none;
	padding: 0 0 0 20px;
	resize: none;
	border-radius: 0 0 10px 10px;
	overflow-y: scroll;
	scrollbar-color: transparent transparent;
	font-family: "Poppins", sans-serif;
	font-size: 1.9rem;
	color: white;
	background-color: $gray;
}

textarea::-webkit-scrollbar {
	display: none;
}

input {
	font-family: "Poppins", sans-serif;
	font-size: 2.5rem;
	color: white;
	background-color: $gray;
	font-weight: 800;
}

input::placeholder {
	font-weight: 400;
}

.noteTitle {
	border-radius: 10px 10px 0 0;
	height: 70px;
	border: none;
	padding: 0px 0 0 20px;
}

textarea:focus,
input:focus {
	outline: none;
}

.noteIcon {
	font-size: 3rem;
	margin-right: 10px;
	color: $ghost;
	justify-self: end;
	position: relative;
	top: 13px;
}

// this is what displays when the green "read" button is clicked
.displayANote {
	background: ghostwhite;
	border-radius: 10px;
	padding: 25px 10px 0 20px;
	z-index: 50;
	display: none;
	height: calc(30vh + 70px);
	min-height: calc(250px + 70px);
	width: 100%;
	font-family: "IBM Plex Mono", sans-serif;
	overflow-y: scroll;

	p {
		padding-top: 15px;
	}
}
